article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  background: #fff;
    color: #000;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
    padding: 0;
  }

button,
input,
select,
textarea {
  font-family: inherit;
    font-size: 100%;
    margin: 0;
  }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
    box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
    vertical-align: top;
  }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.ad {
  background-color: #231f20;
  color: white; }
  .ad.badge {
    display: none;
    width: 292px; }
    .ad.badge p {
      line-height: 90px;
      text-align: center;
      vertical-align: middle; }
  .ad.leaderboard {
    display: none;
    width: 730px; }
    .ad.leaderboard p {
      line-height: 90px;
      text-align: center;
      vertical-align: middle; }
  .ad.medrec {
    display: none;
    margin-bottom: 20px;
    width: 300px; }
    .ad.medrec p {
      line-height: 250px;
      text-align: center;
      vertical-align: middle; }

#BottomAds {
  margin: 20px auto; }

#BottomAds,
#TopAds {
  display: none; }

#TopAds {
  margin: 10px auto; }

#Overlay {
  opacity: 0.25;
  height: 100%;
  left: 50%;
  position: fixed;
  top: 0;
  width: 100%; }
  #Overlay .vert-container {
    height: 100%; }
  #Overlay .vert {
    background-color: lightgray;
    height: 100%;
    margin-left: 20px;
    width: 60px; }
    #Overlay .vert.first-line {
      margin-left: 0; }
  #Overlay .horiz {
    height: 120px;
    margin: 0;
    padding: 0; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  min-width: 768px; }

html {
  background-color: #d8eff7; }

p {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.container {
  *zoom: 1;
  margin: 0 auto; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.module {
  background-color: white;
  margin: 20px 0; }
  .module.chat p {
    line-height: 60px;
    text-align: center;
    vertical-align: middle; }
  .module p {
    line-height: 300px;
    text-align: center;
    vertical-align: middle; }

.ribbon {
  box-shadow: 0 4px 6px -4px black; }

.ribbon-wrapper {
  position: relative; }

.stuck {
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 999999999999; }

#Header {
  background-color: #094d8a;
  color: white; }
  #Header h1 {
    line-height: 80px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0; }

#HeaderNav {
  *zoom: 1;
  background-color: #1460a5;
  border: #396cac 1px solid;
  border-left: 0;
  border-right: 0; }
  #HeaderNav:before, #HeaderNav:after {
    content: " ";
    display: table; }
  #HeaderNav:after {
    clear: both; }
  #HeaderNav a {
    cursor: pointer; }
  #HeaderNav li {
    border-right: #396cac 1px solid;
    color: white;
    float: left;
    padding: 10px 20px; }
    #HeaderNav li .arrow {
      border-color: transparent;
      border-color: rgba(255, 255, 255, 0);
      border-width: 4px;
      border-style: inset;
      height: 0;
      vertical-align: middle;
      width: 0;
      border-bottom: 0;
      border-top-color: white;
      border-top-style: solid;
      margin-left: 5px; }
  #HeaderNav ul {
    float: left; }

#Main {
  background-color: white;
  margin-bottom: 20px; }

#Main p {
  padding: 10px; }

#mw-content-text {
  padding: 10px; }

#PageContainer {
  margin-top: 40px;
  overflow: hidden; }

#PreFooter {
  line-height: 300px;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  clear: both;
  overflow: hidden; }

#Footer {
  background-color: #102f53;
  color: white;
  margin-top: 20px; }
  #Footer h3 {
    border-bottom: #2A5382 1px solid;
    font-size: 1.0em;
    font-weight: normal;
    margin: 0;
    margin-bottom: 20px;
    padding-bottom: 5px;
    text-transform: uppercase; }
  #Footer .module {
    background-color: #5D8FC9; }
    #Footer .module p {
      line-height: 140px;
      text-align: center;
      vertical-align: middle; }
  #Footer .container {
    padding: 40px; }

#FooterNav {
  *zoom: 1;
  border-top: #2A5382 1px solid;
  margin-top: 20px;
  padding-top: 20px; }
  #FooterNav:before, #FooterNav:after {
    content: " ";
    display: table; }
  #FooterNav:after {
    clear: both; }
  #FooterNav .logo {
    float: left;
    font-size: 1.2em; }
  #FooterNav a {
    cursor: pointer; }
  #FooterNav li {
    border-right: #5D8FC9 1px solid;
    color: #5D8FC9;
    float: left;
    font-size: 0.8em;
    line-height: 0.8em;
    list-style: none;
    margin-right: 6.66667px;
    padding-right: 6.66667px; }
    #FooterNav li:last-child {
      border-right: 0;
      margin-right: 0;
      padding-right: 0; }
  #FooterNav ul {
    float: right; }

#ToolbarTop {
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  background-color: #074876;
  color: white;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 999999999999; }

@media screen and (min-width: 940px) {
  .ad.leaderboard, .ad.medrec {
    display: block; }

  .container {
    width: 940px; }

  .module {
    float: left;
    margin: 0 0 20px 20px;
    width: 300px; }

  .module-container {
    margin-left: -20px; }

  .ribbon:after, .ribbon:before {
    border-color: transparent;
    border-style: solid;
    border-top-color: #094d8a;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    bottom: -12px;
    z-index: -1;
    width: 0; }
  .ribbon:after {
    right: 0;
    border-width: 12px 12px 0 0; }
  .ribbon:before {
    left: 0;
    border-width: 12px 0 0 12px; }

  .stuck {
    width: 964px; }

  #BottomAds,
  #TopAds {
    display: block;
    width: 730px; }

  #Footer .container {
    padding-left: 0;
    padding-right: 0; }

  #Header {
    margin: 0 -12px; }

  #Main {
    float: left;
    width: 620px; }

  #Overlay {
    margin-left: -470px;
    width: 940px; }

  #Sidebar {
    float: left;
    margin-top: 0;
    margin-left: 20px;
    width: 300px; } }

@media screen and (min-width: 1120px) {
  .container {
    width: 1020px; }

  .stuck {
    width: 1044px; }

  #Main {
    width: 700px; }

  #Overlay {
    margin-left: -510px;
    width: 1020px; }

  #Sidebar {
    width: 300px; } }

@media screen and (min-width: 1300px) {
  .container {
    width: 1100px; }

  .stuck {
    width: 1124px; }

  #Main {
    width: 780px; }

  #Overlay {
    margin-left: -550px;
    width: 1100px; }

  #Sidebar {
    width: 300px; }

  #TopAds {
    *zoom: 1;
    width: 1042px; }
    #TopAds:before, #TopAds:after {
      content: " ";
      display: table; }
    #TopAds:after {
      clear: both; }
    #TopAds .ad.badge {
      display: block;
      float: left;
      margin-right: 20px; }
    #TopAds .ad.leaderboard {
      float: left; } }

@media screen and (min-width: 1460px) {
  .container {
    width: 1260px; }

  .stuck {
    width: 1284px; }

  #Main {
    width: 940px; }

  #Overlay {
    margin-left: -630px;
    width: 1260px; }

  #Sidebar {
    width: 300px; } }
